/* 
font-family: 'Bebas Neue', sans-serif; 
font-family: 'Fira Sans', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Tomorrow', sans-serif;
*/

:root {
    /* fonts */
    --jg-main-title-font: 'Tomorrow', sans-serif;
    --jg-title-font: 'Bebas Neue', sans-serif;
    --jg-main-subtitle-font: 'Tomorrow', sans-serif;
    --jg-subtitle-font: 'Fira Sans', sans-serif;
    --jg-heading-font: 'Bebas Neue', sans-serif;
    --jg-body-font: 'Roboto', sans-serif;

    /* basic colors */
    --jg-dark-color: #212121;
    --jg-light-color: #deeefb;
    --jg-background-color: rgba(250, 250, 250, 0.8);

    /* text styles */
    --jg-font-size: 1.2rem;
    --jg-font-weight: 400;
    --jg-line-height: 1.5rem;
    --jg-title-color: var(--jg-dark-color);

    /* my theme */
    --jg-theme-core: #9d5734;
    --jg-theme-100: hsl(20, 52%, 91%);
    --jg-theme-150: hsl(20, 6%, 87%);
    --jg-theme-200: hsl(20, 51%, 81%);
    --jg-theme-300: hsl(20, 50%, 71%);
    --jg-theme-400: hsl(20, 50%, 61%);
    --jg-theme-500: hsl(20, 46%, 48%);
    --jg-theme-600: hsl(20, 50%, 41%);
    --jg-theme-700: hsl(20, 50%, 31%);
    --jg-theme-800: hsl(20, 50%, 21%);
    --jg-theme-850: hsl(20, 50%, 16%);
    --jg-theme-900: hsl(20, 50%, 11%);
}

/* start Element overrides */
body {
    font-family: var(--jg-body-font);
    font-size: var(--jg-font-size);
    font-weight: var(--jg-font-weight);
    line-height: var(--jg-line-height);
    color: var(--jg-dark-color);
    background: var(--jg-background-color);
}

h6,
.h6,
h5,
.h5,
h4,
.h4,
h3,
.h3,
h2,
.h2,
h1,
.h1 {
    font-family: var(--jg-heading-font);
    font-weight: 700;
    text-transform: uppercase;
    color: var(--jg-title-color);
    letter-spacing: .1rem;
}

a {
    color: var(--jg-theme-400);
}

a:hover {
    color: var(--jg-theme-300);
}

main {
    margin-bottom: 5rem;
}

section {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.btn-primary {
    --bs-btn-bg: var(--jg-theme-700);
    --bs-btn-border-color: var(--jg-theme-800);
    --bs-btn-hover-bg: var(--jg-theme-800);
    --bs-btn-hover-border-color: var(--jg-theme-800);
    --bs-btn-active-bg: var(--jg-theme-800);
    --bs-btn-active-border-color:var(--jg-theme-800);
}


.container-contact {
    padding: 2rem;
    background-color: var(--jg-theme-300);
    border-radius: 1.2rem;
    box-shadow: 2px 2px 4px rgba(128, 0, 0, 0.4);
}

/* end Element overrides */

/* begin home section */

#home {
    background-color: var(--jg-theme-900);
    background-image: url(/img/abed-ismail-_jhUrn9o8yM-unsplash.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

#homeCover {
    backdrop-filter: brightness(0.65) blur(.1px);
    height: 100%;
    width: 100%;
    position: absolute;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* ios code */
    /* backdrop filter for Safari */
    -webkit-backdrop-filter: brightness(0.35) blur(3px);
    /* backdrop filter for other browsers */
    backdrop-filter: brightness(0.35) blur(3px);
}

.mainLogo {
    height: 2em;
    margin-left: -1em;
}

.footerLogo {
    margin-left: -2rem;
    height: 100%;
}

.mainTitle,
.subTitle {
    color: var(--jg-light-color);
    text-transform: uppercase;
}



.linkColor {
    color: var(--jg-theme-600);
    text-decoration: none;
}

.linkColor:hover {
    color: var(--jg-theme-400)
}

.mainTitle {
    font-family: var(--jg-main-title-font);
    font-size: 2em;
    line-height: 0.1;
    font-weight: 200;
}

.subTitle {
    font-family: var(--jg-main-subtitle-font);
    font-size: 1.28rem;
    letter-spacing: .1rem;
    line-height: 1.2rem;
    font-weight: 200;
}

/* end home section */

/* main content */

.section-page {
    padding-top: 5rem;
    padding-bottom: 8rem;
    position: relative;
    overflow: visible;
    margin-top: -3rem;
}

.section-page:nth-child(even),
.section-page:nth-child(even)>.container::after {
    background-color: var(--jg-theme-200);
}

.section-page:nth-child(odd),
.section-page:nth-child(odd)>.container::after {
    background-color: var(--jg-theme-100);
}

/* end main content */

/* Start section dividers */

.section-page>.container::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 3rem;
    /* clip-path: ellipse(50% 100% at top center); */
    z-index: 1;
}

.section-page:nth-child(even)>.container::after {
    clip-path: polygon(0% 0%, 100% 0%, 0% 100%);
}

.section-page:nth-child(odd)>.container::after {
    clip-path: polygon(100% 100%, 100% 0%, 0% 0%);
}

/* End section divider */

/* start footer styles */
.socialicons {
    font-size: 2rem;
    transition: color 0.25s;
}

.socialicons:hover {
    color: var(--jg-theme-core);
}

footer.fixed-bottom {
    background-color: var(--jg-theme-900);
}

footer .card {
    background-color: var(--jg-theme-800);
}

/* end footer styles */

/* media queries */

.aboutImg{
    position: relative;
    background-color: var(--jg-light-color);
    border-color: var(--jg-theme-600);
    border-style: solid;
    border-width: 1px;
    box-shadow: 3px  3px 5px rgba(128, 0, 0, 0.4);
    height: 250px;
}

/* sm */
@media (min-width: 576px) {
    .mainTitle {
        font-size: 4rem;
        line-height: 2rem;
    }

    .subTitle {
        font-size: 1.7rem;
        line-height: 1.2rem;
        letter-spacing: .18rem;
        padding-top: 1rem;
    }

    .aboutImg {
        height: 300px;
    }
}

/* md */
@media (min-width: 768px) {
    .mainTitle {
        font-size: 5rem;
        line-height: 2rem;
    }

    .subTitle {
        font-size: 2rem;
        line-height: 1.2rem;
        letter-spacing: .18rem;
        padding-top: 1.75rem;
    }

    .aboutImg {
        height: 350px;
    }
}

/* lg */
@media (min-width: 992px) {
    .mainTitle {
        font-size: 6rem;
        line-height: 2rem;
    }

    .subTitle {
        font-size: 2.3rem;
        line-height: 1.8rem;
        letter-spacing: .18rem;
        padding-top: 2rem;
    }

    .aboutImg {
        height: 400px;
    }
}

/* xl */
@media (min-width: 1200px) {
    .aboutImg {
        height: 450px;
    }
}


/* xxl */
@media (min-width: 1400px) {
    .aboutImg {
        height: 500px;
    }
}